@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import 'tailwindcss';

:root {
  font-family: "Jersey 10", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}