@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import 'tailwindcss';

:root {
  font-family: "Jersey 10", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  background-color: #9EA5D9;
}

.a {
  font-size: 34px;
  color: #894625;
}

.a:selected {
  color: #F6C5A9;
}

.a:hover {
  color: #F6C5A9;
}

.nav {
  background-color: #9EA5D9;
}