@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import 'tailwindcss';

:root {
  font-family: "Jersey 10", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  background-color: #9EA5D9;
}

.body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
}

.Login {
  border-radius: 7px;
  width: 500px;
  height: 600px;
  background-color: #EBEDFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.AddPopUp {
  border-radius: 7px;
  width: 700px;
  height: 600px;
  background-color: #EBEDFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  padding-left: 50px;
}

h1 {
  font-size: 60px;
  color: #777DA3;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 48px;
  color: #9EA5D9;
  margin-right: 10px;
}

.login-button {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 48px;
  color: #DBBCAA;
  background-color:#777DA3;
}

.login-button:hover,
.pop-button:hover {
  background-color: #9EA5D9;
}

.pop-button {
  margin-top: 30px;
  margin-left: 350px;
  align-items: center;
  width: 250px;
  border-radius: 10px;
  font-size: 48px;
  color: #DBBCAA;
  background-color:#777DA3;
}

input {
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  background-color: #777da333;
  border-radius: 10px;
  font-size: 30px;
  color: #777DA3;
  padding: 15px;
}

.add-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.number-input {
  width: 90px;
  margin-right: 2px;
}

a {
  font-size: 34px;
}

a:hover {
  color: #F6C5A9;
}

nav {
  background-color: #9EA5D9;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #00000000;
  
}

::-webkit-scrollbar-thumb {
  border: 2px solid #2c3036;
  border-radius: 1px;
  background: #DBBCAA;

}